.contacts__h1 {
    & h1 {
        font-weight: 500;
        font-size: clamp-px(32, 72);
        line-height: 106%;
        color: var(--grays-black);
        margin-bottom: clamp-px(20, 24);
    }
}

.contacts__subtitle {
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grays-grey);
}

.contacts {
    margin-bottom: clamp-px(24, 80);
}

.contacts__container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    @include respond-to("nout") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("tel") {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.contacts__item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 24px;
    min-height: 240px;
    background: var(--bg-bg-2);

    &:nth-child(3) {
        grid-row: span 2;
    }

    & .first-social__link {
        background: var(--bg-white);
    }

    @include respond-to("nout") {
        min-height: 150px;

        &:nth-child(3) {
            grid-row: span 1;
        }
    }

    // @include respond-to("tel") {
    //     grid-template-columns: 1fr;
    //     grid-template-rows: auto;
    // }
}

.contacts__item-name {
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grays-grey-1);
    margin-bottom: auto;
}

.contacts__item-phone {
    margin-top: 10px;
    font-weight: 500;
    font-size: clamp-px(18, 24);
    line-height: 133%;
    color: var(--grays-black);
    margin-bottom: clamp-px(20, 24);
}

.contacts__item-btn {
    background: var(--bg-white);
    align-self: flex-start;
}

.contacts__item-text {
    margin-top: 10px;
    font-weight: 500;
    font-size: clamp-px(18, 24);
    line-height: 133%;
    color: var(--grays-black);
    margin-bottom: clamp-px(8, 12);
}

.contacts__item-subtitle {
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grays-grey-1);
    margin-bottom: clamp-px(20, 24);
}

.contacts__item-email {
    margin-top: 10px;
    font-weight: 500;
    font-size: clamp-px(18, 24);
    line-height: 133%;
    color: var(--grays-black);
}

.map {
    margin-bottom: clamp-px(24, 80);
}

.map__container {
    display: flex;
    width: 100%;
    height: 620px;
    position: relative;
    border-radius: 32px;

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
    }

    @include respond-to("nout") {
        height: 400px;
    }
}

.review-maps {
    margin-bottom: clamp-px(64, 160);
}

.how-get {
    margin-bottom: clamp-px(64, 160);
}

.how-get__container {
    display: flex;
    flex-direction: column;
}

.how-get__title {
    margin-bottom: clamp-px(20, 40);
}

.how-get__cart-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.how-get__cart {
    flex: 0 1 calc((100% - 16px * 2) / 3);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: clamp-px(24, 32) clamp-px(20, 32);
    min-height: 380px;
    background: var(--bg-bg-2);

    &:last-child {
        background: var(--blue-blue);

        &>.how-get__cart-text {
            font-weight: 500;
            font-size: clamp-px(24, 40);
            line-height: 125%;
            color: var(--bg-white);
        }
    }

    @include respond-to("nout") {
        flex: 0 1 calc((100% - 16px * 1) / 2);
    }

    @include respond-to("tab") {
        flex: 0 1 100%;
        min-height: auto;

        &:last-child {

            &>.how-get__cart-text {
                margin-top: 0;
            }
        }
    }
}

.how-get__cart-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    @include respond-to("tab") {
        &>svg {
            width: 32px;
            height: 32px;
        }
    }
}

.how-get__cart-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(20, 24);
    line-height: 133%;
    color: var(--grays-black);
}

.how-get__cart-text {
    margin-top: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grays-grey);

    @include respond-to("tab") {
        margin-top: 24px
    }
}

.our-office {
    margin-bottom: clamp-px(64, 160);
    overflow: hidden;
}

.our-office__container {
    display: flex;
    flex-direction: column;
}


.our-office__title {
    margin-bottom: clamp-px(20, 40);
}

.our-office__slide-img-wrap {
    position: relative;
    border-radius: 24px;
    height: 480px;

    @include respond-to("pc-old") {
        height: 400px;
    }

    @include respond-to("tab") {
        height: 375px;
    }
}


.our-office__slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.our-office__slider {
    width: calc(50% + 50vw);
}

.legal-info {
    margin-bottom: clamp-px(64, 160);
}

.legal-info__container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.legal-info__left-title-box {}

.legal-info__title {
    margin-bottom: 24px;
}

.legal-info__content-box {
    display: flex;
    flex-direction: column;
    gap: clamp-px(20, 24);
}

.legal-info__content-box-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.legal-info__content-name {
    font-weight: 400;
    font-size: clamp-px(16, 20);
    line-height: 150%;
    color: var(--grays-grey-1);
}

.legal-info__content-val {
    font-weight: 400;
    font-size: clamp-px(18, 20);
    line-height: 150%;
    color: var(--grays-black);
}