.header {
    padding: 0 10px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 16px 0 rgba(0, 51, 153, 0.06), 0 2px 2px 0 rgba(0, 51, 153, 0.06);
    position: sticky;
    top: 0;
    background-color: var(--bg-white);
    z-index: 90;

    @include respond-to("tab") {
        box-shadow: none;
        border-radius: 0;
    }

}

.header__container {
    padding: 0;
    max-width: 1792px;
    margin: 0 auto;
    position: relative;

    // @media (width<1870px) {
    //     padding: 0 60px;
    // }

    // @include respond-to("nout") {
    //     padding: 0 30px;
    // }

    // @include respond-to("tel") {
    //     padding: 0;
    // }

}

.header__topline {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid var(--grays-border);

    @include respond-to ("tab") {
        border-bottom: none;
    }
}

.logo {}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &>.logo__img {
        @include respond-to("pc-old") {
            width: 175px;
        }

        @include respond-to("tab") {
            width: 190px;
        }
    }
}



.header__contact-box {
    display: flex;
    align-items: center;
}

.header__contact-tel {
    &:first-child {
        margin-right: 12px;
    }

    font-weight: 400;
    font-size: clamp-px(12, 16);
    line-height: 162%;
    color: var(--grays-black);

    @media (width<1440px) {
        position: relative;
    }

    @media (width<870px) {
        display: none;
    }
}

.header__contact-tel_m {
    margin-right: 20px;
    transition: 0.3s;

    @media (width<1440px) {
        position: absolute;
        opacity: 0;
        padding-top: 40px;
        margin-right: 0;
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            opacity: 1;
        }

    }
}



.header__contact-work-clock {
    font-weight: 400;
    font-size: clamp-px(12, 16);
    line-height: 162%;
    color: var(--grays-grey-1);
    margin-right: clamp-px(20, 40);

    @include respond-to("pc-old") {
        display: none;
    }
}

.social-box {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header_social-box {
    margin-right: clamp-px(20, 40);

    @include respond-to("tab") {
        display: none;
    }
}

.social-link {
    width: 20px;
    height: 20px;

    &>svg {
        width: 20px;
        height: 20;
    }
}

.header__contact-email {
    font-weight: 400;
    font-size: clamp-px(12, 16);
    line-height: 162%;
    color: var(--blue-blue);

    @include respond-to('tab') {
        display: none;
    }
}

.top-nav {
    margin-left: auto;
}

.nav__item-wrap {
    align-items: center;
}

.top-nav-list {
    display: flex;
    gap: 20px;

    &>li {
        border-radius: 8px;
        padding: 8px 12px;
        position: relative;
        display: flex;

        &:hover {
            &>.top-sub-menu {
                transition: 0.3s;
                visibility: visible;
                opacity: 1;
                transform: scale(100%);
            }
        }

        &>a {
            font-weight: 400;
            font-size: clamp-px(12, 16);
            line-height: 162%;
            color: var(--grays-black);
        }

        &>.top-sub-menu {

            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 35px;
            padding: 32px;
            position: absolute;
            background-color: #ffffff;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transition: 0.3s;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
            border-radius: 24px;
            min-width: 320px;
            left: calc(50% - (320px / 2));
            transition-delay: 0.1s;

            &.show {
                transition: 0.3s;
                visibility: visible;
                opacity: 1;
                transform: scale(100%);

            }

            &>li {
                padding: 0;
                background-color: transparent;



                &>a {
                    font-weight: 400;
                    font-size: clamp-px(12, 16);
                    line-height: 150%;
                    color: var(--grays-black);
                    transition: 0.3s;
                }

                &:hover>a {
                    transition: 0.3s;
                    color: var(--blue-blue);
                }
            }
        }

        &>.drop-menu {
            margin-left: 3px;
        }

        &:hover {
            background: #F2F4F9;
            border-radius: 8px;
            padding: 8px 12px;

            &>a {}
        }

        &.active {
            background: #F2F4F9;
        }
    }

    @include respond-to("nout") {
        gap: 5px;
    }

    @include respond-to("tab") {
        display: none;
    }

}

.drop-menu>svg {
    transition: 0.3s;
}

.drop-menu.active>svg {
    transform: rotate(180deg);
    transition: 0.3s;
}

.header__nav {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.nav-list {
    justify-content: flex-start;
    gap: 30px;

    &>li {
        &>a {
            font-weight: 400;
            font-size: clamp-px(12, 16);
            line-height: 162%;
            color: var(--grays-black);
        }

        &>.sub-menu {
            margin-top: 40px;
            transition-delay: 0.1s;
            transform: translateY(0);
            padding: 32px;
            // max-width: 95vw;
        }

        &:hover {
            &>.sub-menu {
                display: grid;
                grid-template-columns: repeat(3, minmax(302px, auto));
                padding: 32px;
                width: fit-content;
                margin-top: 40px;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition-delay: 0s;
                transition: 0.3s;

            }
        }
    }
}

.sub-menu {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(302px, auto)) !important;
    width: fit-content !important;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    background: var(--bg-white);
    border-radius: 24px;
    transition-delay: 0.3s;
    transition: 0.3s;
    margin-top: 40px;
    transform: translateY(0);

    @include respond-to('pc-old') {
        grid-template-columns: repeat(3, 1fr) !important;
        column-gap: 30px !important;
        max-width: 100vw;
    }

    &>li {
        padding: 0;
        background: transparent;

        &>a {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--grays-black);
            transition: 0.3s;

        }

        &:hover {
            padding: 0;
            background: transparent;

            &>a {
                color: var(--blue-blue);
                transition: 0.3s;
            }
        }
    }



}

.drop-menu {}

.nav-item {
    border-radius: 8px;
    padding: 8px 12px;
    transition: 0.3s;

    &:hover {
        background: #F2F4F9;
        border-radius: 8px;
        padding: 8px 12px;
        transition: 0.3s;

        &>.drop-menu>svg {
            transform: rotate(180deg);
        }
    }
}

.header__nav-btns-box {
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-search {
    &>svg {
        width: 24px;
        height: 24px;
    }

    @include respond-to ("tab") {
        display: none;
    }
}



.btn {
    font-family: var(--font-family);
    background: var(--blue-blue);
    border-radius: 10px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 177px;

    font-weight: 500;
    font-size: clamp-px(14, 16);
    color: var(--bg-white);
}

.header__btn {
    @include respond-to("tab") {
        display: none;
    }
}

.search-wrap {
    position: fixed;
    top: 0;
    z-index: 110;
    transition: 0.3s;
    transform: translateY(-100%);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 16px 0 rgba(0, 51, 153, 0.06), 0 2px 2px 0 rgba(0, 51, 153, 0.06);
    height: 208px;
    top: 0;
    width: 100%;
    background: var(--bg-white);

    &.show {
        transform: translateY(0);
        transition: 0.3s;

    }
}

.search-block {
    display: flex;
    flex-direction: column;
    padding: 48px 0 48px 10px;
    background-color: var(--bg-white);
    width: 100%;
    max-width: 1240px;

    max-width: 1292px;
    margin: 0 auto;


}

.search-block__title {
    font-weight: 500;
    font-size: clamp-px(24, 32);
    line-height: 125%;
    color: var(--grays-black);
    margin-bottom: 24px;
}

.search-block__input-box {
    display: flex;
    gap: 8px;
    align-items: center;

}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search__input {
    border: 1.50px solid var(--grays-grey);
    border-radius: 10px;
    padding: 16px 10px 15px 50px;
    width: 100%;
}

.search__icon {
    position: absolute;
    left: 10px;
}

.search__icon-exid {
    position: absolute;
    right: 20px;
}

.search__exit {
    position: absolute;
    top: 16px;
    right: 16px;
}

.nav__item-opacity-wrap {
    display: flex;
    align-items: center;
}

.nav__item-opacity {
    max-width: 300px;
    border-radius: 24px;
    box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.06);
    transition-delay: 0.5s;

    &>li {
        display: flex;

        &>a {
            color: var(--grays-black);
            font-size: 16px;
            font-weight: 500;
        }

        &>.sub-menu {
            transition: 0.3s;
            position: absolute;
            transform: translateY(0) translateX(-100%);
            left: 0;
            display: flex !important;
            flex-direction: column;
            padding: 20px;
            min-width: 300px;
        }

        &:hover {
            &>.sub-menu {
                transition: 0.3s;
                opacity: 1;
                visibility: visible;
                transform: translateY(0) translateX(-100%);
                gap: 20px;

            }
        }
    }
}

.btn-search_mob {
    display: none;

    @include respond-to("tab") {
        display: flex;
        margin-right: 20px;
    }

}

// .mob-nav-list {
//     &>li {
//         border-radius: 16px;
//         padding: 16px;
//         background: #f6f8fb;
//         width: 100%;
//         max-width: 100%;

//         &>._spoiler-js-menu {
//             top: 20px;
//         }

//         &>a {
//             font-weight: 400;
//             font-size: 16px;
//             line-height: 162%;
//             color: var(--grays-black);
//         }
//     }
// }

// ._spoiler-js-menu {
//     right: 17px;
//     top: 0;


//     // transform: translateY(-50%);
// }

.mob-nav-wrap {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mob-menu-spoiler {
    &>.mob-nav-list {
        margin-top: 6px;
        border-radius: 16px;
        padding: 20px 16px;
        box-shadow: 0 4px 16px 0 rgba(0, 51, 153, 0.06), 0 2px 2px 0 rgba(0, 51, 153, 0.06);
        background: var(--bg-white);

        &>li {
            max-width: 343px;

            &>a {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--grays-black);
            }
        }
    }
}

.mob-menu-title {
    border-radius: 10px;
    padding: 12px 16px;
    background: var(--bg-bg-1);

    &>a {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--grays-black);
    }

    &::after {
        content: "";
    }

    &._spoiler-js {
        &::after {
            content: url(../images/icons/menu-arrow.svg);
            margin-left: auto;
        }
    }


    &.active {
        &::after {
            transform: rotate(180deg);
        }
    }
}

.mob-nav-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--grays-black);
    margin-bottom: 20px;
}

.mob-nav__btn {
    margin-bottom: 12px;
}

.mob-nav__contact-box {
    border-radius: 10px;
    padding: 11px 16px;
    background: #F2F4F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}


.mob__contact-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--grays-black);
    display: inline;
}

.social-link_m {
    margin-right: 16px;
}

.mob__header__contact-work-clock {
    display: inline;
    font-size: 15px;
    margin-right: 0;
}

.mob-nav__tel-box {
    margin-bottom: 12px;
}

.mob__header__contact-email {
    display: inline;
    font-size: 16px;
}

.header-nav-mob {
    display: none;

    @include respond-to("tab") {
        display: flex;

        &>ul {
            gap: 15px;

            &>li {
                border-radius: 0;
                padding: 0;

                &:hover {
                    border-radius: 0;
                    padding: 0;
                    background-color: transparent;
                }

                &>a {

                    font-weight: 400;
                    font-size: 15px;

                }
            }


        }
    }
}

.mob-nav-exit {
    position: absolute;
    top: 30px;
    right: 26px;
}