.monitoring {
    margin-bottom: clamp(4rem, 2.163rem + 7.84vw, 10rem);
}

.monitoring__container {}

.monitoring__title-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: clamp(1.25rem, 0.867rem + 1.63vw, 2.5rem);
}

.monitoring__title {
    max-width: 607px;
}

.monitoring__top-link {
    @include respond-to('tab') {
        display: none;
    }
}

.monitoring__bottom-link {
    display: none;

    @include respond-to('tab') {
        display: flex;
        margin-top: 20px;
    }
}

.monitoring__box {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}

.monitoring__item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-bg-1);
    border-radius: 24px;
    padding: 32px;
    box-shadow: 0 4px 16px 0 rgba(0, 51, 153, 0.06), 0 2px 2px 0 rgba(0, 51, 153, 0.06);
    background: var(--bg-white);
    flex: 0 1 calc((100% - 16px * 2) / 3);
    min-height: 220px;

    &:first-child {
        flex: 0 1 calc((100% - 16px * 1) / 2);
        min-height: 360px;

        &>.monitoring__item-text {
            display: block;
        }

        &>.monitoring__item-title {
            font-size: clamp(1rem, 0.847rem + 0.65vw, 1.5rem);
        }

        @include respond-to('nout') {
            min-height: 174px;

            &>.monitoring__item-text {
                display: none;

            }
        }

    }

    &:nth-child(2) {
        flex: 0 1 calc((100% - 16px * 1) / 2);
        min-height: 360px;

        &>.monitoring__item-text {
            display: block;
        }

        &>.monitoring__item-title {
            font-size: clamp(1rem, 0.847rem + 0.65vw, 1.5rem);
        }

        @include respond-to('nout') {
            min-height: 174px;

            &>.monitoring__item-text {
                display: none;

            }
        }
    }

    &:nth-child(3) {
        @include respond-to('nout') {
            flex: 0 1 calc((100% - 16px * 1) / 2);
            min-height: 174px;
        }



        // &>.monitoring__item-text {
        //     display: block;
        // }

        // &>.monitoring__item-title {
        //     font-size: clamp(1rem, 0.847rem + 0.65vw, 1.5rem);
        // }

        // @include respond-to('nout') {
        //     &>.monitoring__item-text {
        //         display: none;
        //         min-height: 174px;
        //     }
        // }
    }

    @include respond-to('nout') {
        display: none;
        min-height: 174px;

        &:first-child {
            min-height: 174px;
            display: flex;

            &>.monitoring__item-text {
                display: none;

            }

        }

        &:nth-child(2) {
            min-height: 174px;
            display: flex;

            &>.monitoring__item-text {
                display: none;

            }


        }

        &:nth-child(3) {
            flex: 0 1 calc((100% - 16px * 1) / 2);
            min-height: 174px;
            display: flex;

        }

    }

    @include respond-to('tab') {

        &:first-child {
            flex: 0 1 100%;
        }

        &:nth-child(2) {
            flex: 0 1 100%;
        }

        &:nth-child(3) {
            flex: 0 1 100%;
        }

    }

}

.monitoring__item-title {
    font-weight: 500;
    font-size: clamp(1rem, 0.923rem + 0.33vw, 1.25rem);
    line-height: 133%;
    color: var(--grays-black);
    margin-bottom: 16px;
}

.monitoring__item-text {
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--grays-grey);
    margin-bottom: 10px;
}

.monitoring__item-data {
    margin-top: auto;
    font-weight: 400;
    font-size: clamp(0.938rem, 0.918rem + 0.08vw, 1rem);
    line-height: 162%;
    color: var(--grays-grey-1);
}